#macro ( writePackage $packageName )
package ${packageName};
#end

#macro ( writeFields $elements )
  #foreach($element in $elements)
    #if($element.value.nodeType == "STRING")
      #writeField ("String" $element.key)
    #elseif($element.value.nodeType == "NUMBER")
      #writeField ("Integer" $element.key)
    #elseif($element.value.nodeType == "BOOLEAN")
      #writeField ("Boolean" $element.key)
    #elseif($element.value.nodeType == "OBJECT")
      #set ($type = "${display.capitalize($element.key)}DTO")
      #writeField ($type $element.key)
      #writeInnerClass ( $type $element.value )
    #elseif($element.value.nodeType == "ARRAY")
      #set ($type ="java.util.Collection
      <${display.capitalize($element.key)}DTO>")
      #writeField ($type "${element.key}DTO")
      #writeInnerClass ( "${display.capitalize($element.key)}DTO" $element.value.get(0) )
    #end
  #end
#end

#macro ( writeField $type $name )
    public $type $name;
#end

#macro ( writeInnerClass $className $node )
    public final class ${className} {
  #writeFields ( $node.fields() )
    }
#end

#writePackage ( $packageName )

    public final class ${className}JsonSchema {
#if($json.nodeType == "ARRAY")
  #set ($type = "java.util.Collection<Wrapper>")
  #writeField ( $type "wrapper" )
  #set ($type = "Wrapper")
  #writeInnerClass ( $type $json.get(0) )
#end
#writeFields ( $json.fields() )
    }
