package ${packageName};


public final class ${className}JsonSchema {
#foreach($element in $json.fields())
    #if($element.value.isValueNode())
        #if($element.value.nodeType == "STRING")
            #set ($type = "String")
        #elseif($element.value.nodeType == "NUMBER")
            #set ($type = "Integer")
        #end
    public $type $element.key;
    #end
#end
}
